.movie {
    position: relative;
    top: 20%;
    left: 17%;
    width: 66%;
    background: rgba(17, 13, 13, 0.9);
    color: white;
}

.movie-container {
    display: flex;
}

.movie-container div {
    margin-right: 5%;
}

.movie-details {
    display: flex;
    flex-wrap: wrap;
}

.movie-details span {
    display: inline-block;
    flex: 0 50%;
    box-sizing: border-box;
    font-size: $m-size;
    text-align: left;
}

.movie-title {
    font-size: $xl-size;
    text-transform: uppercase;
}

.movie-two p {
    font-size: $m-size;
    color: #d3d3d3;
}

.movie-details span h3 {
    font-size: $m-size;
    color: #00ff7f;
    margin-bottom: 2%;
}

.subtitle {
    font-size: $s-size;
    color: #00ff7f; 
}


.poster {
    height: 100%;
    width: 200px;
}

.year {
    opacity: 0.6;
    font-size: $l-size;
    vertical-align: text-top;
}