html {
    font-size: 62.5%;
}

html, body {
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 1px 1px #000;
}

.app {
    display: flex;
}

.img {
    position: relative;
    width: 100%;
    height: 100vh;
    
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(to bottom right,#2a99ef,#52d9e5);
      opacity: 1; 
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px rgba(32, 32, 32, 0.9) inset;
  transition: background-color 5000s ease-in-out 0s;
  color: white;
}